body{
    margin:0;
    font-family: sans-serif;
}
a:hover{
    color: #79f9d3;
}

a {
    color:white;
    text-decoration: none;
}
#header{
    margin-left: 60px;
    margin-right: 60px;
    background-color: #101d4b;
    height: 172px;
    border-bottom: 3px solid rgb(236, 240, 15);
}

.bigwidth{
    width: 880px;
    margin: 0 auto;

}

#fcod{

    font-size: 40;
    padding-top:20px;
    display:inline-block;
}

#rang{
    color: hsl(61, 91%, 48%);
}
#omid{

    font-size:12; 
    color: hsl(61, 71%, 38%);
    padding: 0px 0 0 0;
    margin-top: 0px;
display:inline-block;
}
#header ul{
    list-style: none;
    float:right;
    margin: 84 0 0 0;
}
#header ul li{
display:inline-block;
}
#header .bigwidth  ul  li  a{
    font-size: 12px;
    letter-spacing: 0px;
    background-color: rgb(47, 133, 190);  
    color: rgb(234, 238, 9);
    padding:5px 20px;
    border-radius: 10px 10px 0 0;
}
#header .bigwidth  ul  li  a:hover{
    color: rgb(236, 19, 37);

}
#frist_page{
    background-color: rgb(223, 210, 32) !important;
    color: #323534 !important;
}
#picture{
border: 1.5px solid #323534;
margin-left: 5px;
height: 320px;
width: 280;


}
#formul{

    margin: 20px;
    height: 250;
    width: 370;
    
}
#gif{
    margin-left:20px;
}
#left{
width:630px;
background-color: rgba(10, 195, 228, 0.678);
height: 1230px;
float: left;
}
#right{
    width:220 ;
background-color: rgb(210, 238, 165);
height: 1230px;
float: right;
}
#left  a{
    color: rgb(233, 57, 13);
}
#left a:hover{
    color: rgb(197, 216, 22);
}

#left p{
font-size: 14px;
line-height: 23px;
color: #172521 ;
margin: 10px;
}
#right p{
    margin: 10px;
    font-size: 13px;
    line-height: 23px;
    color: #19559bef ;  
}
#left h{
    padding-top: 10px;
font-size: 24px;
margin: 10px;
}
#ff{
    color: rgb(17, 11, 2);
}
#pp li{
    color: rgb(37, 53, 4);
    font-size: 13px;
    line-height: 27px;
}
#mt {
    color: #00ffff;
}
#tt{
    color: rgb(20, 24, 12);
}
#mm{
margin-top: 1000px;
    background-color: rgba(224, 178, 109, 0.589);
height: 500px;
    

}

#calcu{
    color:#8EB444;
    font-size: 17px;
    background-color: black;
    margin: 0 0 0 50;
    height: 30px;
    width: 300px;
}
#num1{
    margin-left: 61px;
background-color: rgb(159, 243, 177);
}
#num2{
    margin-left: 40px;

    background-color: rgb(68, 151, 219);
 }

#num3{ background-color: rgb(243, 214, 120);    margin-left: 37px;

      }

  #num4{ background-color: rgb(100, 20, 248);    margin-left: 51px;

         }  
            
 #num5{ background-color: rgb(232, 240, 164);    margin-left: 23px;

                }
   #num6{background-color: rgb(201, 117, 117);      margin-left: 23px;


}               
#rabete{
    font-size: 13px;
    line-height: 23px;
    color: #172521 ;

}
#final{
margin-top: 5px;
height: 600px;
background-color: #0cebdc;

}
#finall{
    margin-top: 10px;
    height: 1000px;
    background-color: #26b2dd;
    
    }

    #ozv{
        margin: 20px;
    }
  
    #pm{

        color: rgb(33, 43, 19);
        font-size: 13px;
        line-height: 27px;
    }
    #final h6{

        font-size: 20px;
        font-family: sans-serif;
        line-height: 11px;
        margin-left:10px;
        margin-bottom: 20px;
        padding-top: 30px;
  
    }
    #final p {

        font-size: 13px;
        font-family: sans-serif;
  
    }
    #pn li{
        color: rgb(18, 24, 8);
        font-size: 13px;
        line-height: 27px;
    }
    #final h5{
margin-left: 10px;
        font-size: 20px;
        font-family: sans-serif;
        line-height: 11px;
        
     
  
    }

    #mm i{
        margin-left: 10px;
        font-size: 14px;
    }
#mm h4{
    margin-left: 10px;

}

#finall p{
    font-size: 13px;
    font-family: sans-serif;
    line-height: 20px;
    margin: 10px;
}
#finall h{
    font-size: 20px;
    padding-top: 10px;
    margin: 10px;
}
#par{
    background-color: #32454b;
}
#mmm{
    background-color: #6e145f;
}
#nt{
    background-color: rgb(182, 27, 40);
}
#par p{
    font-size: 10px;
}
#par ul li{
    font-size: 10px;
}
#par h1{
    margin-left: 10px;
font-size: 12px;
}
#new{
    margin: 15px;
    background-color:#e6108ccb;
    height: 1300px;
    width: 880;

    margin: 10px auto;

}
#new p1{
    margin-left: 10px;
font-size:13px; 

}
#new h1{
font-size:18px;
margin-left: 5px;

}
#new i{
    margin-left: 10px;
    font-size: 14px;
    margin-left:5px; 
}
#h1{
margin-left: 15px;
}
#q1{
margin-left: 20px;
}
#h2{
margin-left:15px ;
}
#q2{
margin-left:20px ;
}
#h3{
margin-left: 21px;
}
#q3{
margin-left: 20px;
}
#h4{
margin-left: 24px;
}
#q4{
margin-left: 27px;
}
#h5{
    margin-left: 24px;
    }
    #q5{
    margin-left: 26px;
    }
    #h6{
    margin-left:20px ;
    }
    #q6{
    margin-left: 20px;
    }
    #h7{
    margin-left:24px ;
    }
    #q7{
    margin-left:20px ;
    }
    #h8{
    margin-left:15px ;
    }
    #q8{
    margin-left: 20px;
    }
    
    #h9{
        margin-left:2px ;
        }
        #q9{
        margin-left: 2px;
        }
        #h10{
        margin-left:15px ;
        }
        #q10{
        margin-left: 2px;
        }
        #h11{
        margin-left:2px ;
        }
        #q11{
        margin-left: 2px;
        }
        #h12{
        margin-left: 2px;
        }
        #q12{
        margin-left: 2px;
        }
		#nume{
        margin-left: 38px;
        }
		#numg{
        margin-left: 30px;
        }
		#p1{
        margin-left: 10px;
        }
		#e1{
        margin-left: 10px;
        }
        #p2{
        margin-left: 10px;
        }
		#e2{
        margin-left: 10px;
        }
		#p3{
        margin-left: 10px;
        }
		#e3{
        margin-left: 10px;
        }
		#p4{
        margin-left: 10px;
        }
		#e4{
        margin-left: 10px;
        }
		#p5{
        margin-left: 10px;
        }
		#e5{
        margin-left: 10px;
        }
		#p6{
        margin-left: 10px;
        }
		#e6{
        margin-left: 10px;
        }
		#p7{
        margin-left: 10px;
        }
		#e7{
        margin-left: 10px;
        }
		#p8{
        margin-left: 10px;
        }
		#e8{
        margin-left: 10px;
        }
		#p9{
        margin-left: 10px;
        }
		#e9{
        margin-left: 10px;
        }
		#p10{
        margin-left: 10px;
        }
		#e10{
        margin-left: 10px;
        }
		#p11{
        margin-left: 10px;
        }
		#e11{
        margin-left: 10px;
        }
		#p12{
        margin-left: 10px;
        }
		#e12{
        margin-left: 10px;
        }
#orjin{
    background-color: #f9fcfa;
width: 880;
margin: 20 auto;
    height: 800px;
}
#orjin h1{
    background-color: #e71074;
    display: inline;
    font-size: 25px;

 }
 #orjin p{
    font-size: 15.5px;
    line-height: 23px;
    color: #1f2e2a ;
    margin: 10px;}
    #orjin h2{
    
        font-size: 20px;
    
     }
     #orjin ul{
        font-size: 15.5px;
        line-height: 23px;

     }
     #orjin span{
         color: #1e2366;
     }
     #orjin a{
         color: #2e5bd8;
        
     }
     #orjin a:hover{
        color: #e4d01e;
       
    } 
    #joo{
        background-color: hsl(236, 45%, 29%);
        height: 6700px;
    }
    #jooo{
        width:880;
        background-color: #f9fcfa ;
        margin: auto;


    }
    #calculate{
        color:#8EB444;
        font-size: 17px;
        background-color: black;
        margin: 0 0 0 100;
        height: 30px;
        width: 600px;
    }
    #mm span{
background-color: #e0054e;   

}
#new span{
    background-color: #82ee08;
}